<div class="contact-info-item">
    <h3>Follow Me</h3>
    <div class="social-links">
        <a href="https://michalsnik.github.io/aos/" target="_blank"><i class="fab fa-facebook-f"></i> </a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i> </a>
        <a href="#" target="_blank"><i class="fab fa-youtube"></i> </a>
        <a href="#" target="_blank"><i class="fab fa-linkedin"></i> </a>

    </div>
</div>