<section id="one-sec">
    <div class="effect-wrap">
        <div class="effect effect1"></div>
        <div class="effect effect2">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="effect effect3"></div>
        <div class="effect effect4"></div>
        <div class="effect effect5">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear">
        <div class="jumbotron">
            <h1 class="display-4">Who I'am..?</h1>
        </div>
    </div>
</section>
<section id="two-sec">
    <div class="container about" data-aos="fade-up"
    data-aos-anchor-placement="center-bottom">
        <div class="container">
            <h1 class="display-4">About <span style="color: #eece1a;">Me</span></h1>
        </div>
        <hr class="my-4">
        <p data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        >Hi, My name is Sarita and I am a web developer. I am from Gurgaon, haryana. I am a Fresher
            I have done three year diploma From Govt. Polytechnic Manesar and B.Tech From UIET MDU Rohtak.</p>
        <p data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        >
            I'm a young , prolific and growing web developer with a flair
            for creating elegant solutions in the least amount of time. In
            my technical career I always believe in 3 I's: Intent, Interact
            and Impact/Influence. I believe that if we have intent for
            doing something, we surely can do it. With intent we can
            build our reality .
        </p>
        <p data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        >
            I love cooking, and dancing too. Meeting new people always exites me. Hey enough about me lets know you too.
            Feel free to reach out I love meeting people.

        </p>
    </div>

    <div class="about-img" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="../../../assets/portfolio-DP-SmallScreen.jpg" alt="">
    </div>
</section>
<section id="third-sec">
    <div class="row skils-heading">
        <h3 style="font-size: 5rem;">My Skills</h3>
    </div>
    <div class="row progress-row">
        <div class="col-lg-6">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">HTML</div>
                    <div class="skill-bar">
                        <div class="progressone"></div>
                        <div class="percentone" style="color: #fff;">80%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">CSS</div>
                    <div class="skill-bar">
                        <div class="progresstwo"></div>
                        <div class="percenttwo" style="color: #fff;">70%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">JavaScript</div>
                    <div class="skill-bar">
                        <div class="progressthree"></div>
                        <div class="percentthree" style="color: #fff;">60%</div>
                    </div>
                </div>
            </div>
            <div class="cont skill-type">
                <h1><span style="font-size: 40px;">FrontEnd</span> <br> Languages</h1>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">Java</div>
                    <div class="skill-bar">
                        <div class="progressone" style="width:40% ;background:#61fa08;
                        box-shadow: 0px 0px 10px 5px #61fa08;"></div>
                        <div class="percentone java" style="color: #fff; border: 2px solid #61fa08;">40%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">C</div>
                    <div class="skill-bar">
                        <div class="progresstwo" style="width:20% ;background:#cc7dc8;
                        box-shadow: 0px 0px 10px 5px #cc7dc8;"></div>
                        <div class="percenttwo c" style="color: #fff; border: 2px solid #cc7dc8;">20%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">c++</div>
                    <div class="skill-bar">
                        <div class="progressthree" style="width:20% ;background:#2fffcb;
                        box-shadow: 0px 0px 10px 5px #2fffcb;"></div>
                        <div class="percentthree cpp" style="color: #fff; border: 2px solid #2fffcb;">20%</div>
                    </div>
                </div>
            </div>
            <div class="cont skill-type">
                <h1><span style="font-size: 40px;">Programming</span><br> Languages</h1>
            </div>
        </div>
    </div>
</section>

<!-- -----------------------section fourth------------------------- -->
<section id="four-sec">
    <div class="row">
        <div class="cont col-lg-6">
            <div class="box">
                <div class="skill">
                    <div class="graph boot" style="height:25%">
                        <div class="percent">25%</div>
                    </div>
                    <div class="name">MySql</div>
                </div>
                <div class="skill">
                    <div class="graph Angular" style="height:50%">
                        <div class="percent">50%</div>
                    </div>
                    <div class="name">MongoDB</div>
                </div>
            </div>
            <div class="cont">
                <div class="skill-type">
                    <h1>Databases</h1>
                </div>
            </div>
        </div>
        <div class="cont col-lg-6" style="margin-right: 2rem;">
            <div class="box">
                <div class="skill">
                    <div class="graph Angular" style="height:65%">
                        <div class="percent">65%</div>
                    </div>
                    <div class="name">Bootstrap</div>
                </div>
                <div class="skill">
                    <div class="graph boot" style="height:45%">
                        <div class="percent">45%</div>
                    </div>
                    <div class="name">ExpressJS</div>
                </div>
                <div class="skill">
                    <div class="graph Angular" style="height:75%">
                        <div class="percent">70%</div>
                    </div>
                    <div class="name">Angular</div>
                </div>
            </div>
            <div class="cont">
                <div class="skill-type">
                    <h1><span style="font-size: 50px;">Development</span><br>Framworks </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="cont">
            <div class="skill-type">
                <h1>Development<br>Framworks  </h1>
            </div>
        </div>
        <div class="cont">
            <div class="skill-type">
                <h1>Databases</h1>
            </div>
        </div>
    </div> -->
</section>