<section id="one-sec">
    <div class="effect-wrap">
        <div class="effect effect1"></div>
        <div class="effect effect2">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="effect effect3"></div>
        <div class="effect effect4"></div>
        <div class="effect effect5">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear">
        <div class="jumbotron">
            <h1 class="display-4">Who I'am..?</h1>
        </div>
    </div>
</section>
<section id="two-sec">
    <div class="container about" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
        <div class="container">
            <h1 class="display-4">About <span style="color: #eece1a;">Me</span></h1>
        </div>
        <hr class="my-4">
        <p>Hi, My name is Sarita and I am a web developer. I am from Gurgaon, haryana.I am a Fresher
            I have done three year diploma From Govt. Polytechnic Manesar, I have done B.Tech From UIET MDU Rohtak.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, asperiores? Earum animi, aliquid incidunt porro
            n
            atus accusamus similique dolores fuga expedita doloribus exercitationem officia! Ipsam, vero. Beatae
            voluptas iste
            odio omnis quaerat eligendi corporis odit facere ratione ducimus sed, autem error quisquam at, aspernatur
            fugit lab
            oriosam rem, provident eos atque nulla! Autem, officiis libero! Est at dignissimos id quibusdam iste
            reprehenderit dolo]
            rem doloremque deserunt? Quo asperiores quos, corrupti porro consequuntur minus recusandae. Ab mollitia
            molestias dolorum
            quisquam delectus et perspiciatis, dolores odit debitis quasi. Qui distinctio dolores, sunt aperiam deleniti
            magni modi p
            erferendis mollitia ut ipsam in sapiente vitae cupiditate debitis labore, ea fugiat ducimus odio ullam. Illo
            aperiam debitis beatae, quibusdam iusto consequatur eveniet dicta, amet quisquam dolores,i minus maiores
            animi.
            Adipisci velit veritatis vero? Ex officiis beatae e </p>
    </div>

    <div class="about-img" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="../../../assets/portfolio-DP-SmallScreen.jpg" alt="">
    </div>
</section>
<section id="third-sec">
    <div class="row skils-heading"  >
        <h3 style="font-size: 5rem;">My Skills</h3>
    </div>
    <div class="row progress-row">
        <div class="col-lg-6">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">HTML</div>
                    <div class="skill-bar">
                        <div class="progressone"></div>
                        <div class="percentone" style="color: #fff;">80%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">CSS</div>
                    <div class="skill-bar">
                        <div class="progresstwo"></div>
                        <div class="percenttwo" style="color: #fff;">70%</div>
                    </div>
                </div><div class="skill">
                    <div class="skill-name">JavaScript</div>
                    <div class="skill-bar">
                        <div class="progressthree"></div>
                        <div class="percentthree" style="color: #fff;">60%</div>
                    </div>
                </div>
            </div>
            <div class="skill-type">
                <h1>Frontend <br> Languages</h1>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">Java</div>
                    <div class="skill-bar">
                        <div class="progressone" style="width:40% ;background:#2fffcb;
                        box-shadow: 0px 0px 10px 5px #2fffcb;"></div>
                        <div class="percentone" style="color: #fff; border: 2px solid #2fffcb;">40%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">C</div>
                    <div class="skill-bar">
                        <div class="progressone" style="width:20% ;background:#cc7dc8;
                        box-shadow: 0px 0px 10px 5px #cc7dc8;"></div>
                        <div class="percentone" style="color: #fff; border: 2px solid #cc7dc8;">20%</div>
                    </div>
                </div><div class="skill">
                    <div class="skill-name">c++</div>
                    <div class="skill-bar">
                        <div class="progressone" style="width:20% ;background:#2fffcb;
                        box-shadow: 0px 0px 10px 5px #2fffcb;"></div>
                        <div class="percentone" style="color: #fff; border: 2px solid #2fffcb;">20%</div>
                    </div>
                </div>
            </div>
            <div class="skill-type">
                <h1>Programming <br> Languages</h1>
            </div>
        </div>
    </div>
</section>

<!-- -----------------------section fourth------------------------- -->
<section id="four-sec">
    <div class="row">
        <div class="cont col-lg-6">
            <div class="box">
                <div class="skill">
                    <div class="graph" style="height:65%">
                        <div class="percent">65%</div>
                    </div>
                    <div class="name">Angular</div>
                </div>
                <div class="skill">
                    <div class="graph" style="height:45%">
                        <div class="percent">45%</div>
                    </div>
                    <div class="name">Angular</div>
                </div><div class="skill">
                    <div class="graph"  style="height:65%">
                        <div class="percent">60%</div>
                    </div>
                    <div class="name">Angular</div>
                </div>
            </div>
        </div>
        <div class="cont col-lg-6" style="margin-right: 2rem;">
            <div class="box">
                <div class="skill">
                    <div class="graph" style="height:65%">
                        <div class="percent">65%</div>
                    </div>
                    <!-- <div class="name">Angular</div> -->
                </div>
                <div class="skill">
                    <div class="graph" style="height:45%">
                        <div class="percent">45%</div>
                    </div>
                    <div class="name">Angular</div>
                </div><div class="skill">
                    <div class="graph"  style="height:65%">
                        <div class="percent">60%</div>
                    </div>
                    <div class="name">Angular</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cont">
            <div class="skill-type">
                <h1>Development<br>Framworks  </h1>
            </div>
        </div>
        <div class="cont">
            <div class="skill-type">
                <h1>Databases</h1>
            </div>
        </div>
    </div>
</section>