<section id="one-sec">
    <div class="effect-wrap">
        <div class="effect effect1"></div>
        <div class="effect effect2">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="effect effect3"></div>
        <div class="effect effect4"></div>
        <div class="effect effect5">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear">
        <div class="jumbotron">
            <h1 class="display-4">Who I Am</h1>
        </div>
    </div>
</section>
<section id="two-sec">
    <div class="container about" data-aos="fade-up"
    data-aos-anchor-placement="center-bottom">
        <div class="container">
            <h1 class="display-4">About <span style="color: #eece1a;">Me</span></h1>
        </div>
        <hr class="my-4">
        <p data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        >Hi, my name is Sarita Nimwal and I am an Angular Frontend Developer based in Bombay, India. I have 4.6 years
            of experience building scalable, high-performance web applications with Angular, TypeScript, RxJS, and
            modern frontend architecture.</p>
        <p data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        >
            I currently work as a Software Engineer at Lynkit Solutions Pvt Ltd, where I develop modular Angular
            applications, reusable UI components, analytics dashboards, REST API integrations, and geospatial features
            using Google Maps, Mapbox, and GeoJSON. I hold a B.Tech in Computer Science from MDU Rohtak and a Diploma
            in Computer Science & Engineering from Government Polytechnic, Manesar.
        </p>
        <p data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom"
        >
            My strengths include lazy loading, performance optimization, code-splitting, component-driven design,
            Agile collaboration, and delivering responsive user-centric interfaces. I enjoy solving complex frontend
            problems and building systems that are maintainable as they grow.

        </p>
    </div>

    <div class="about-img" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="../../../assets/portfolio-DP-SmallScreen.jpg" alt="Sarita Nimwal portrait">
    </div>
</section>
<section id="third-sec">
    <div class="row skils-heading">
        <h3 >My <span style="color: #3a4c55;"> Skills</span></h3>
    </div>
    <div class="row" style="width: 100%; display: flex;">
        <div class="progress-row col-lg-6 col-12">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">Angular</div>
                    <div class="skill-bar">
                        <div class="progressone"></div>
                        <div class="percentone" style="color: #fff;">90%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">TypeScript</div>
                    <div class="skill-bar">
                        <div class="progresstwo"></div>
                        <div class="percenttwo" style="color: #fff;">85%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">JavaScript</div>
                    <div class="skill-bar">
                        <div class="progressthree"></div>
                        <div class="percentthree" style="color: #fff;">85%</div>
                    </div>
                </div>
            </div>
            <div class="cont skill-type">
                <h1><span style="font-size: 40px;">Core</span> <br> Frontend</h1>
            </div>
        </div>
        <div class="progress-row col-lg-6 col-12">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">RxJS</div>
                    <div class="skill-bar">
                        <div class="progressone" style="width:85% ;background:#61fa08;
                        box-shadow: 0px 0px 10px 5px #61fa08;"></div>
                        <div class="percentone java" style="color: #fff; border: 2px solid #61fa08;">85%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">NgRx</div>
                    <div class="skill-bar">
                        <div class="progresstwo" style="width:75% ;background:#cc7dc8;
                        box-shadow: 0px 0px 10px 5px #cc7dc8;"></div>
                        <div class="percenttwo c" style="color: #fff; border: 2px solid #cc7dc8;">75%</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">REST APIs</div>
                    <div class="skill-bar">
                        <div class="progressthree" style="width:85% ;background:#2fffcb;
                        box-shadow: 0px 0px 10px 5px #2fffcb;"></div>
                        <div class="percentthree cpp" style="color: #fff; border: 2px solid #2fffcb;">85%</div>
                    </div>
                </div>
            </div>
            <div class="cont skill-type">
                <h1><span style="font-size: 40px;">Architecture</span><br> & Data Flow</h1>
            </div>
        </div>
    </div>
</section>

<!-- -----------------------section fourth------------------------- -->
<section id="four-sec">
    <div class="row">
        <div class="cont col-lg-6">
            <div class="box">
                <div class="skill">
                    <div class="graph boot" style="height:85%">
                        <div class="percent">85%</div>
                    </div>
                    <div class="name">Highcharts</div>
                </div>
                <div class="skill">
                    <div class="graph Angular" style="height:80%">
                        <div class="percent">80%</div>
                    </div>
                    <div class="name">AmCharts</div>
                </div>
            </div>
            <div class="cont">
                <div class="skill-type">
                    <h1>Visualization</h1>
                </div>
            </div>
        </div>
        <div class="cont col-lg-6" style="margin-right: 2rem;">
            <div class="box">
                <div class="skill">
                    <div class="graph Angular" style="height:85%">
                        <div class="percent">85%</div>
                    </div>
                    <div class="name">Google Maps</div>
                </div>
                <div class="skill">
                    <div class="graph boot" style="height:80%">
                        <div class="percent">80%</div>
                    </div>
                    <div class="name">Mapbox</div>
                </div>
                <div class="skill">
                    <div class="graph Angular" style="height:80%">
                        <div class="percent">80%</div>
                    </div>
                    <div class="name">GeoJSON</div>
                </div>
            </div>
            <div class="cont">
                <div class="skill-type">
                    <h1><span style="font-size: 50px;">Maps</span><br>& Geo</h1>
                </div>
            </div>
        </div>
    </div>
</section>
