<section>
    <div class="overlay"></div>
    <main id="home">
        <h1 class="lg-heading">
            Sarita <span class="text-secondry">Nimwal</span>
        </h1>
        <h2 class="sm-heading">
            Web-Developer, Programmer, Full-Stack Developer
        </h2>
        <div class="icons">
            <a href="#">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
    </main>
</section>
