<main>
    <!-- background circles -->

    <div class="bg-circle">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>

    </div>
    <div class="heading">
        <div class="d-flex" id="div" style="justify-content: flex-start; align-items: center; height: 80vh;"
            data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear">
            <div class="jumbotron d-flex">
                <h5 class="display-4">Some Things I've Built.</h5>
            </div>
        </div>
        <div style="display: flex;  justify-content:center; align-items: center; height: 20vh;">
            <i class=" scroll fas fa-chevron-down" style="color: #e02f6b;"></i>
        </div>
    </div>
    <section class="section-title">
        <div class="container">
            <div class="jumbotron d-flex" style="justify-content:center; align-items: center;">
                <h5 class="display-4" style="font-size: 3rem;
                font-weight: 700; font-family: poppins;color: #ffffff;">Recent <span
                        style="color: #e02f6b;">Work</span></h5>
            </div>
            <div class="row " id="div">
                <div class="contain row1">
                    <!-- <div class="box"> -->
                    <div class="about-img col-lg-6 col-md-12 portfolio-item-thumbnail" data-aos="fade-right"
                        data-aos-offset="300" data-aos-duration="2000" data-aos-easing="ease-in-sine">
                        <img src="../../../assets/dashboard.jpeg" alt="portfolio item thumb">
                    </div>
                    <div class="about-content col-lg-6 col-md-12">
                        <div class="">
                            <h2 data-aos-duration="3000" data-aos="fade-down" data-aos-easing="linear">01</h2>
                            <h3 data-aos-duration="2000" data-aos="fade-down" data-aos-easing="linear">Service one</h3>
                            <p data-aos-duration="1000" data-aos="fade-down" data-aos-easing="linear">Lorem ipsum, dolor
                                sit amet consectetur adipisicing elit. Molestias vitae voluptatum
                                placeat eligendi perferendis nemo maxime ut neque repellat nam quisquam illum laudantium
                                quibusdam, enim perspiciatis cupiditate. Repellat, facilis debitis?

                            </p>
                            <div data-aos-duration="2000" data-aos="fade-down" data-aos-easing="linear">

                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row " id="div">
                <div class="contain row1">
                    <!-- <div class="box"> -->
                    <div class="about-img col-lg-6 col-md-12 portfolio-item-thumbnail" data-aos="zoom-in"
                        data-aos-duration="3000">
                        <img src="../../../assets/trassker2.jpeg" alt="portfolio item thumb">
                    </div>
                    <div class="about-content col-lg-6 col-md-12">
                        <div class="">
                            <h2 data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000"
                                data-aos-easing="ease-in-sine">02</h2>
                            <h3 data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000"
                                data-aos-easing="ease-in-sine">Service one</h3>
                            <p data-aos="fade-left" data-aos-offset="300" data-aos-duration="3000"
                                data-aos-easing="ease-in-sine">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestias vitae voluptatum
                                placeat eligendi perferendis nemo maxime ut neque repellat nam quisquam illum laudantium
                                quibusdam, enim perspiciatis cupiditate. Repellat, facilis debitis?

                            </p>
                            <div data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000"
                                data-aos-easing="ease-in-sine">
                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row " id="div">
                <div class="contain row1">
                    <!-- <div class="box"> -->
                    <div class="about-img col-lg-6 col-md-12 portfolio-item-thumbnail" data-aos="fade-right"
                        data-aos-offset="300" data-aos-duration="2000" data-aos-easing="ease-in-sine">
                        <img src="../../../assets/blogHub.jpeg" alt="portfolio item thumb">
                    </div>
                    <div class="about-content col-lg-6 col-md-12">
                        <div class="">
                            <h2 data-aos-duration="3000" data-aos="fade-down" data-aos-easing="linear">03</h2>
                            <h3 data-aos-duration="2000" data-aos="fade-down" data-aos-easing="linear">Service one</h3>
                            <p data-aos-duration="1000" data-aos="fade-down" data-aos-easing="linear">Lorem ipsum, dolor
                                sit amet consectetur adipisicing elit. Molestias vitae voluptatum
                                placeat eligendi perferendis nemo maxime ut neque repellat nam quisquam illum laudantium
                                quibusdam, enim perspiciatis cupiditate. Repellat, facilis debitis?

                            </p>
                            <div data-aos-duration="1000" data-aos="fade-down" data-aos-easing="linear">
                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row " id="div">
                <div class="contain row1">
                    <!-- <div class="box"> -->
                    <div class="about-img col-lg-4 col-md-12 portfolio-item-thumbnail" data-aos="zoom-in"
                        data-aos-duration="3000">
                        <img src="../../../assets/AdminDashboard.jpeg" alt="portfolio item thumb">
                    </div>
                    <div class="about-img about-content img2 col-lg-4 col-md-12 portfolio-item-thumbnail"
                        data-aos="zoom-in" data-aos-duration="2000">
                        <img src="../../../assets/AdminDashboard3.jpeg" alt="portfolio item thumb">
                    </div>
                    <div class="about-content about-content2 col-lg-4 col-md-12">
                        <div class="">
                            <h2 data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000"
                                data-aos-easing="ease-in-sine">04</h2>
                            <h3 data-aos="fade-left" data-aos-offset="300" data-aos-duration="2000"
                                data-aos-easing="ease-in-sine">Service one</h3>
                            <p data-aos="fade-left" data-aos-offset="300" data-aos-duration="3000"
                                data-aos-easing="ease-in-sine">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Molestias vitae voluptatum
                                placeat eligendi perferendis nemo maxime ut neque repellat nam quisquam illum laudantium
                                quibusdam, enim perspiciatis cupiditate. Repellat, facilis debitis?
                            </p>
                            <div data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000"
                                data-aos-easing="ease-in-sine">

                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
    <div class="last">
        <div class="jumbotron">
            <p class="lead">But thats not all,</p>
            <p>See rest of my projects on my github</p>
            <hr class="my-4">
            <div class="icon">
                <a href="https://github.com/Sarita149">
                    <i class="fab fa-github fa-3x"></i>
                </a>
            </div>
        </div>
    </div>

</main>