<header>
    <input hidden type="checkbox" id="opensidebarmenu" aria-label="Toggle navigation menu">
    <label for="opensidebarmenu" class="sidebarIconToggle" role="button" aria-controls="sidebarmenu" #toggle>
        <span class="spinner top" aria-hidden="true"></span>
        <span class="spinner middle" aria-hidden="true"></span>
        <span class="spinner bottom" aria-hidden="true"></span>
    </label>
    <div id="sidebarmenu">
        <div class="menu-branding borders">
            <div class="portrait" aria-hidden="true">
            </div>
        </div>
        <ul class="menu-nav menu" id="menulist">
            <li class="nav-item">
                <a routerLink="" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }"
                    (click)="toggle.click()" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="about" routerLinkActive="current" (click)="toggle.click()" class="nav-link">
                    About Me
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="work" routerLinkActive="current" (click)="toggle.click()" class="nav-link">
                    My Work
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="projects" routerLinkActive="current" (click)="toggle.click()" class="nav-link">
                    Projects
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="contact" routerLinkActive="current" (click)="toggle.click()" class="nav-link">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</header>
