:root {
    --portfolio-dark: #18293c;
    --portfolio-accent: #eece1a;
    --portfolio-pink: #e02f6b;
    --backdrop-filter-blur: blur(5px);
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    color: var(--portfolio-dark);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
}
